<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junemon.daggerinyourface">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.junemon.daggerinyourface.MainApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.junemon.daggerinyourface.view.root.RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.junemon.daggerinyourface.presentation.base.BaseActivity"/>
        <activity android:name="com.junemon.daggerinyourface.view.game.detail.GameDetailFragment"/>
        <activity android:name="com.junemon.daggerinyourface.view.publisher.detail.PublisherDetailFragment"/>
    </application>

</manifest>